html {
  padding-top:  0.5in;
  padding-left: 0.5in;
  background: url(./images/winter_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  position: relative;
}

body, html {
  height: 100%;
}

.error {
  color: red;
}

.h1 {
  font-weight: bold;
  font-family: 'Sans';
  font-size: 3rem;
}

.p {
  font-family: 'Verdana';
  font-size: 1.3rem;
}

form {
  display: table;
}

p {
  display: table-row;
}

label {
  display: table-cell;
}

input {
  display: table-cell;
}

input[type=submit] {

  display: table-cell;
  
  background-color: #2675dbd0;
  border-radius: 6px;
  border: none;  
  width: 4.5em;
  height: 2.2em;
  cursor: pointer;
  font-size: 1.2rem;
}

input[type=text], input[type=password] {
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 20em;
  height: 2.5em;
  resize: vertical;
  font-size: 0.65em;
}
