html {
  padding: 0.5in;
  background: url(./images/winter.jpg);
  background-repeat: no-repeat;
  background-size: 20in 14in;
  position: relative;
}

.error {
  color: red;
}

h1 {
  font-weight: bold;
  font-family: 'Sans';
  font-size: 3rem;
}

p {
  font-family: 'Verdana';
  font-size: 1.2rem;
}

form {
  display: table;
}

p {
  display: table-row;
}

label {
  display: table-cell;
}

input {
  display: table-cell;
}

.btn {
  width: 7em;
  height: 3em;
}
