{% extends 'base.html' %}

{% block content%}



<h1 class="h1">Signup</h1>
<p class="error p">{{ empty_form_error }}</p>
<br>

<form action="" method="post">
  <p class="p">
    <label for="username">Username </label>
    <input type="text" name="username" id="username">
    <span class="error">{{ username_error }}</span>
  </p>
  <br>
  <p class="p">
    <label for="password">Password </label>
    <input type="password" name="password" id="password">
    <span class="error">{{ password_error }}</span>

  </p>
  <br>
  <p class="p">
    <label for="pass_confirm">Confirm Password </label>
    <input type="password" name="pass_confirm" id="pass_confirm">
    <span class="error">{{ pass_confirm_error }}</span>

  </p>
  <br>
  <p class="p">
    <label for="email">Email (optional) </label>
    <input type="text" name="email" id="email">
    <span class="error">{{ email_error }}</span>

  </p>
  <br>
  <p class="p"> <label></label> <input class='btn' type="submit" value="Submit"></p>

</form>




{% endblock %}